<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

   <!-- Initialization for data source -->
   <bean id="dataSource" 
      class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerConnection"/>
      <property name="url" value="jdbc:sqlserver://uph.database.windows.net:1433;database=uphTest;user=uphAdmin@uph;password=uphPassword;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;"/>
   </bean>

   <!-- Definition for UserDAOImpl bean -->
   <bean id="UserDAOImpl" 
      class="DAO.UserDAOImpl">
      <property name="dataSource"  ref="dataSource" />    
   </bean>
      
</beans>